html {
    background: #fff;
}

body {
    height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Nocturno Display Medium 4", Georgia;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
}

body {
    background: url(http://unsplash.it/1499/1000);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.blend {
    mix-blend-mode: exclusion;
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 6vw;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

blockquote {
    margin-bottom: 100px;
    line-height: 1.1;
}

.container {
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
    object-fit: cover;
    div {
        img {
            width: 100%;
        }
    }
}